
*
{
box-sizing: border-box;
padding: 0px;
margin: 0px:
}
body{
    background-color: darkgray;
}
.outer
{
    width:700px;
    height:800px;
    border:1px solid black;
    margin: 0px auto;
}
.outer h1
{
    text-align: center;
}
p{
    front-size-adjust: 50px;
}
.border
{
    width: 100%;
    padding: 5px;
    background-color:rgb(165,161,161);
    borer: 1px solid black
    front-weight: bold;
}
ul
{
    front-size-adjust: 20px;
    margin-left: 60px;
}
h2
{
    float: right:
}
.container{
    border:3px solid black:

}